 .bodyconfig {
 	
 	background: linear-gradient(to right, #000000, #120325);
 	
	 h1,
	 h2,
	 h3,
	 p {
	  color: #ffffff;
	  font-family: 'Roboto', sans-serif;
	  text-shadow: 5px 5px 5px #000000;
	}
	
	 h1 {
	  font-size: 30px;
	  text-align: center;
	}
	
	 h2 {
	  font-size: 25px;
	  text-align: center;
	  padding: 7px;
	}
	
	 h3 {
	  font-size: 20px;
	  padding-left: 28px;
	}
	
	 p {
	  border: 2px solid #ffffff;
	  border-radius: 12px;
	  margin: 15px;
	  font-size: 15px;
	  padding: 13px;
	  box-shadow: 7px 7px 7px #000000;
	}
	
	img {
	  width: 40px;
	  height: 40px;
	  margin-left: 10px;
	  vertical-align: middle;
	}
	
	h1:hover,
	h2:hover,
	h3:hover,
	p:hover,
	img:hover {
		transform: scale(1.1);
		transition: 0.6s;
	}
	
	@media (min-width: 1024px) {
	
	    padding: 20px;
	
	  .container {
	    max-width: 1100px;
	    margin: 0 auto; 
	    padding: 20px 40px;
	  }

	   h1 {
	    font-size: 50px;
	  }
	
	   h2 {
	    font-size: 40px;
	  }
	
	   h3 {
	    font-size: 32px;
	  }
	
	   p {
	    font-size: 24px;
	    margin: 26px;
	  }
	
	  img {
	    width: 60px;
	    height: 60px;
	  }
	}
}